body{
    margin: 0;
    background-color: white;
    color: black;
}

body.dark-mode{
    background-color: black;
    color: white;
}

.container {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 15px;
}

/* Meniu Navigatie*/
.nav-menu{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
padding: 0;
margin: 0;
box-shadow: 13px 12px 25px -3px rgba(0,0,0,0.58);
}

.dark-mode .nav-menu{
    box-shadow: 13px 12px 25px -3px rgba(white);
}

.nav-menu li{
flex: 1; /*width: 33.3%;*/
padding: 1rem;
list-style: none;
font-weight: bold;
text-align: center;
cursor: pointer;
}
.nav-menu .nav-link{
text-decoration: none;
font-size: 1.5rem;
color: gold;
text-shadow: 13px 12px 25px -3px rgba(0,0,0,0.58);
}

.nav-menu li:hover .nav-link{
transition: all 0.5s ease-in-out;
color: goldenrod;
letter-spacing: 1.5px;
text-shadow: 13px 12px 25px -3px rgba(0,0,0,0.68);
}

.dark .nav-menue .nav-link {
    color: white;
}

/* END Meniu Navigatie*/
/* Dark Mode Toggel */
#mode-toggle{
    background-image: url(../img/Dark.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 32px;
    height: 32px;
    transition: transform 0.5s linear;
}

#mode-toggle:hover{
    cursor: pointer;
    transform: rotate(-180deg);
}
/* END Dark Mode Toggel */
/* Sectiune Jumbotron */
.jumbotron-section{
    background: linear-gradient(
        rgba(255, 255, 255, 0.25),
        rgba(0, 0, 0, 0.45)
    ),
    url(https://source.unsplash.com/1600x900/?bees);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: calc(100vh - 60px);
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.jumbotron-section p,
.jumbotron-section h1{
    font-weight: 400;
    z-index: 1; 
}
.jumbotron-section .overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.25);
}
/* END Sectiune Jumbotron */

/* Sectiune Text */
.page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 10px auto;
    max-width: 1000px;
}

.page-content .page-content--text {
    width: 30%;
    margin-right: 30px;
}

.page-content .page-content--img {
    width: 50%;
    border-radius: 15px;
}
/* END Sectiune Text */

/* Sectiune Footer */
footer {
   background-color: black; 
   color: white;
   padding: 60px 30px;
}

footer p {
    text-align: center;
    margin: 0;
}
/* END Sectiune Footer */

/* Sectiune Carduri */
.cards-containter {
    padding: 50px 30px;
}

.cards-containter h2 {
    font-size: 38px;
    text-align: center;
}

.cards-list {
    display: grid;
    grid-gap: 1rem;
    list-style: none;
    max-width: 1200px;
    margin: 0 auto;
}

.cards-list li {
    padding: 0px;
    margin: 0px;
}

.card{
    border: 1px solid #000000;
    padding: 25px;
    border-radius: 20px;
}

.dark-mode .card {
    border-color: white;
}

.card img {
    width: 100%;
border-radius: 15%;
}

.card .card-content button{
    background-color: white;
    color: black;
    border: 1px solid #000000;
    border-radius: 20px;
    width: 100%;
    line-height: 40px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s linear;
}

.dark-mode .card .card-content button{
    background-color: black;
    color: white;
    border-color: white;
}

.card .card-content button:hover {
    background-color: black;
    border-color: white;
    color: white;
}

.dark-mode .card .card-content button:hover{
    background-color: white;
    color: black;
    border-color: black;
}

/* END Sectiune Carduri */

/* Media Queries - style pentru display-uri mai mici de 600px */
@media only screen and (max-width: 600px) {
    .jumbotron-section h1{
    font-size: 1.2rem !important;
    }
    .jumbotron-section p,
    .jumbotron-section h1 {
        margin: 0 30px;
        font-size: 0.8em;
    }

    .page-content {
        display: block;
    }

    .page-conent .page-conent--img {
        width: 100%
    }

    .page-content .page-conent--text {
        width: 100%;
        margin: 30px 0;
    }
}
/* END Media Queries */

/* Style pentru displayori mai amri de 600px */
@media only screen and (min-width:600px) {
    .cards-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* Style pentru displayuri mai amri de 900px*/
@media only screen and (min-width:900px) {
    .cards-list {
        grid-template-columns: repeat(3, 1fr);
    }
}